@keyframes wiggle {
	from {transform: translate(-50%, -50%) rotate(-15deg);}
	to {transform: translate(-50%, -50%) rotate(15deg);}
}

@keyframes choochoo {
	from {transform: translate(-50%, -50%)}
	to {transform: translate(-50%, -60%)}
}

@keyframes littlewiggle {
	from {transform: translate(-50%, -50%) rotate(-5deg);}
	to {transform: translate(-50%, -50%) rotate(5deg);}
}

#map {
	margin-left: 225px;
	width: 900px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background-image: url('assets/map.jpg');
	background-size: 100% 100%;
}

.toilet{
	position: absolute;
	width: 100px;
	height: 100px;
	max-width: 10vw;
	max-height: 10vw;
	background-image: url('assets/toilet.png');
	background-size: 100% 100%;
}

.star {
	position: absolute;
	width: 100px;
	height: 100px;
	max-width: 10vw;
	max-height: 10vw;
	background-image: url('assets/star.png');
	background-size: 100% 100%;
	opacity: 0.4;
    transform: translate(-50%, -50%) scale(0.7);
    filter: grayscale(100%);
}

.surprise {
	background-image: url('assets/surprise.png');
}

.ready {
	width: 100px;
	height: 100px;
	max-width: 10vw;
	max-height: 10vw;
	background-image: url('assets/toilet.png');
	background-size: 100% 100%;
}

#ship {
	position: absolute;
	width: 50px;
	height: 50px;
	max-width: 10vw;
	max-height: 10vw;
	background-image: url('assets/ship.png');
	background-size: 100% 100%;
	transition: all 1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: choochoo 0.5s ease-in-out 0s infinite alternate;
}

.star:hover {
	transition: all 0.5s;
	animation: wiggle 0.5s ease-in-out 0s infinite alternate;
}

.selected {
	opacity: 0.9;
    transform: translate(-50%, -50%) scale(1.0);
    animation: littlewiggle 0.5s ease-in-out 0s infinite alternate;
    filter: grayscale(0%);
}
