@keyframes wiggle {
	from {transform: translate(-50%, -50%) rotate(-15deg);}
	to {transform: translate(-50%, -50%) rotate(15deg);}
}

@keyframes choochoo {
	from {transform: translate(-50%, -50%)}
	to {transform: translate(-50%, -60%)}
}

@keyframes littlewiggle {
	from {transform: translate(-50%, -50%) rotate(-5deg);}
	to {transform: translate(-50%, -50%) rotate(5deg);}
}

body {
	background-image: url('assets/wooden-bg.jpg');
	background-size: cover;
}

h1 {
	width: 100%;
	padding-left: 630px;
	padding-bottom: 30px;
	font-family: 'Joti One', cursive;
	font-size: 3rem;
}

.header {
	padding-top: 10px;
}

#map {
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background-image: url('assets/map2.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.toilet{
	position: absolute;
	width: 100px;
	height: 100px;
	max-width: 10vw;
	max-height: 10vw;
	background-image: url('assets/toilet.png');
	background-size: 100% 100%;
}

.star {
	position: absolute;
	width: 80px;
	height: 80px;
	max-width: 10vw;
	max-height: 10vw;
	background-image: url('assets/star.png');
	background-size: 100% 100%;
	opacity: 0.4;
    transform: translate(-50%, -50%) scale(0.7);
    filter: grayscale(100%);
}

.surprise {
	background-image: url('assets/surprise.png');
}

.ready {
	width: 180px;
	height: 110px;
	background-image: url('assets/back-button.png');
	background-size: cover;
	margin-right: 0px;
	float: left;
}

#ship {
	position: absolute;
	width: 50px;
	height: 50px;
	background-image: url('assets/ship.png');
	background-size: 100% 100%;
	transition: all 1s;
    animation: choochoo 0.5s ease-in-out 0s infinite alternate;
}

.star:hover {
	transition: all 0.5s;
	animation: wiggle 0.5s ease-in-out 0s infinite alternate;
}

.selected {
	opacity: 0.9;
    transform: translate(-50%, -50%) scale(1.0);
    animation: littlewiggle 0.5s ease-in-out 0s infinite alternate;
    filter: grayscale(0%);
}

.video-container {
	margin: 0 auto;
	width: 85.2%;
}